@{
ViewBag.Title = "Detector";
var det_num = ViewBag.det_num;
}

<script src="~/Scripts/detectors.js"></script>

<div class="black-banner" style="justify-content: space-between;">
    <span>Detector Number: @det_num</span>
    <div>
        <span style="margin-right:15px;">Year:</span>
        @(Html.Kendo().DropDownList()
            .Name("year")
            .BindTo(new List<string>() {
                "2018"
            })
            .Value("1")
            .HtmlAttributes(new { style = "width: 150px" })
        )
    </div>
</div>
<div id="detector-container">
    <div id="leftPanel">
    </div>
    <div id="chartsContainer">
        <div class="chart-wrap" style="position: relative;">
            <div id="speedChart"></div>
            <div class="chart-loading"></div>
        </div>
        <div class="chart-wrap" style="position: relative;">
            <div id="throughputChart"></div>
            <div class="chart-loading"></div>
        </div>
    </div>
</div>