@using FMS_Dashboard.Models;
@{
    ViewBag.Title = "Detector";
    var det_num = ViewBag.det_num;
}

<link href="~/Styles/Detector.css" rel="stylesheet" />
<script src="~/Scripts/detectors.js"></script>

<div class="black-banner" style="justify-content: space-between;">
    <span>Detector Number: @det_num</span>
    <div>
        <span style="margin-right:15px;">Year:</span>
        @(Html.Kendo().DropDownList()
            .Name("year")
            .BindTo(new List<string>() { "2018" })
            .Value("1")
            .HtmlAttributes(new { style = "width: 150px" })
        )
    </div>
</div>
<div id="detector-container">
    <div id="leftPanel">
        <div id="miscLoading" class="loadingDiv">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <form id="miscForm" class="loading">
            <div class="form-group row">
                <label for="txtBoxNumDays" class="col-xl-6 col-form-label form-control-sm">Number of Days in Dataset:</label>
                <div class="col-xl-6">
                    <input class="k-textbox form-control-sm" id="txtBoxNumDays" data-field="num_days" name="txtBoxNumDays" readonly="readonly">
                </div>
            </div>
            <div class="form-group row">
                <label for="txtBoxGPLaneCnt" class="col-xl-6 col-form-label form-control-sm">General Purpose Lanes:</label>
                <div class="col-xl-6">
                    <input class="k-textbox form-control-sm" id="txtBoxGPLaneCnt" data-field="gp_lane_cnt" name="txtBoxGPLaneCnt" readonly="readonly">
                </div>
            </div>
            <div class="form-group row">
                <label for="txtBoxHOVLaneCnt" class="col-xl-6 col-form-label form-control-sm">High-Occupancy Lanes:</label>
                <div class="col-xl-6">
                    <input class="k-textbox form-control-sm" id="txtBoxHOVLaneCnt" data-field="hov_lane_cnt" name="txtBoxHOVLaneCnt" readonly="readonly">
                </div>
            </div>
        </form>
        <div id="errorTable"></div>
        @*
        Speed > 85 mph in any lane
        Speed < 5 mph and> 0 in any lane
        Speedn+1 < (0.45 × speedn) and speedn+1> 0
        Volume > 3,000 vph per lane
        Density > 220 vehicles per mile per lane
        Occupancy > 80% in any lane
        Speed, volume, or occupancy = 0 where the sum of all is > 0
        All lanes = 0
        Any individual lane = 0 continuously for 20-minutes or more.
        *@
    </div>
    <div id="chartsContainer">
        <div class="chart-wrap" style="position: relative;">
            <div id="speedChart"></div>
            <div class="chart-loading"></div>
        </div>
        <div class="chart-wrap" style="position: relative;">
            <div id="throughputChart"></div>
            <div class="chart-loading"></div>
        </div>
    </div>
</div>