@{
    ViewBag.Title = "Home";
}
<script src="https://js.arcgis.com/4.15/"></script>
<script src="~/Scripts/map.js"></script>
<script src="~/Scripts/main.js"></script>
<div class="black-banner">@ViewBag.Title</div>
<div class="container">
    <div id="viewDiv"></div>
</div>