@model FMS_Dashboard.Controllers.QueryBuilderFormData

@{
    ViewBag.Title = "Query Builder";
}
<script src="https://js.arcgis.com/4.15/"></script>
<script src="~/Scripts/map.js"></script>
<script src="~/Scripts/qbReport.js"></script>
<link href="~/Styles/QueryBuilder.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@("@")fortawesome/fontawesome-free@5.6.3/css/all.min.css" />

<div class="black-banner">@ViewBag.Title</div>
<div class="container" style="display:flex;">
    <br />
    <br />
    <div id="leftPanel" style="flex:1;">
        Thanks for submitting
    </div>
</div>
<script>
   init('@Html.Raw(@Model)');
</script>