@using FMS_Dashboard.Models;
@{
    ViewBag.Title = "AddCorridor";
}

<link href="~/Styles/AddCorridor.css" rel="stylesheet" />
<link href="~/Styles/Main.css" rel="stylesheet" />
<script src="https://js.arcgis.com/4.13/"></script>
<script src="~/Scripts/map.js"></script>
<script src="~/Scripts/addCorridor.js"></script>

<div class="black-banner">
    <span>Add Corridor</span>
</div>
<div id="addCorridor-container">
    <form id="corridorForm" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="corridorName">Corridor Name</label><span class="redAsterisk">*</span>
            <input type="text" required class="form-control" id="corridorName" placeholder="Corridor Name">
            <div class="invalid-feedback">
                Please enter a name for the corridor.
            </div>
        </div>
        <div class="form-group">
            <label for="corridorDescription">Corridor Description</label><span class="redAsterisk">*</span>
            <textarea required class="form-control" id="corridorDescription" rows="3"></textarea>
            <div class="invalid-feedback">
                Please enter a description for the corridor.
            </div>
        </div>
        <label>Selected Detectors:</label><span id="detCnt">0</span>
        <br />
        <div id="detectorsGrid"></div>
        <div id="gridInvalid" class="invalid-feedback">
            You must select at least 2 detectors to form a corridor.
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div id="viewDiv"></div>
</div>
<div id="select-by-polygon" class="esri-widget esri-widget--button esri-widget esri-interactive" title="Select detectors by polygon">
    <span class="esri-icon-checkbox-unchecked"></span>
</div>

<div class="successMessage alert alert-success" role="alert">
    Your corridor has been added successfully.
</div>