@{
    ViewBag.Title = "Corridors";
}
<script src="https://js.arcgis.com/4.13/"></script>
<script src="~/Scripts/map.js"></script>
<script src="~/Scripts/corridors.js"></script>
<div class="black-banner">@ViewBag.Title</div>
<div class="container">
    <div id="viewDiv"></div>
</div>