#detector-container {
  #detectorHeader {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 10px auto;
    #errorTable {
      font-size: small;
      flex: 1;
    }
    #metaData {
      flex: 1;
    }
  }

  #chartsContainer {
    display: flex;
    flex: 2.5;
    width: 80%;
    margin: auto;

    div.chart-wrap {
      // border: 1px solid black;
      border-radius: 2px;
      flex: 1;
      margin: 10px;
      margin-left: auto;
    }
  }
}

.k-grid {
  td,
  th {
    padding: 8px;
  }
}

.detectorDescription {
  margin-bottom: 5px;
}

.detectorNumber {
  margin-bottom: 0 !important;
}

.loadingDiv {
  display: flex;
  color: black;
  height: 15vh;
  z-index: 100;

  div {
    margin: auto;
  }
}

#miscForm {
  &.loading {
    margin-top: -15vh;
    opacity: 0.5;
  }
}
