#detector-container #detectorHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
  margin: 10px auto;
}

#detector-container #detectorHeader #errorTable {
  font-size: small;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#detector-container #detectorHeader #metaData {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#detector-container #chartsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
  width: 80%;
  margin: auto;
}

#detector-container #chartsContainer div.chart-wrap {
  border-radius: 2px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
  margin-left: auto;
}

.k-grid td,
.k-grid th {
  padding: 8px;
}

.detectorDescription {
  margin-bottom: 5px;
}

.detectorNumber {
  margin-bottom: 0 !important;
}

.loadingDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  height: 15vh;
  z-index: 100;
}

.loadingDiv div {
  margin: auto;
}

#miscForm.loading {
  margin-top: -15vh;
  opacity: 0.5;
}
