//Main Layout styles

@import "_Shared.scss";

.body-content {
  padding-left: 5%;
  padding-right: 5%;
}

#viewDiv {
  height: 500px;
}

.esri-view-surface {
  outline: none !important;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}

.nav-item {
  font-size: 17px;
}

.nav-link,
.navbar-text {
  color: var(--secondaryColor) !important;
  font-weight: 600;
}

.nav-link:hover {
  text-decoration: underline;
  background-color: rgba(128, 128, 128, 0.05);
}

.nav-item.active {
  background-color: rgba(128, 128, 128, 0.2);
}

.black-banner {
  background-color: black;
  height: 60px;
  color: white;
  font-size: 21px;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
}

.footer-container {
  width: 80vw;
  margin: auto;
}

.container {
  margin-top: 10px;
  padding: 30px 20px;
}

.placeholderBox {
  height: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  font-size: 20px !important;
  margin-top: 2%;
}

.esri-legend {
  width: auto !important;
}

.link {
  color: var(--secondaryColor) !important;
}

.link:hover {
  text-decoration: underline;
}

.validityTable {
  font-size: 12px;
  margin-bottom: 0;
}

.modal-backdrop {
  opacity: 0.5;
}

#leftPanel {
  //   padding-left: 2%;
  padding-right: 2%;
  //   padding-top: 1%;
}

body {
  background-image: url("https://www.transparenttextures.com/patterns/fabric-of-squares.png");
}

.container {
  background-image: none;
  background: white;
}

nav {
  background: white;
}
