body {
}

#viewDiv {
  //   height: 500px;
  //   width: 500px;
}
.main {
  // border: 1px solid black;
  width: 100%;
  display: flex;
  #leftPanel {
    flex: 1;
    border: 0.1rem solid #e9e9ea;
    padding: 5px 10px;
    margin-right: 10px;
  }
  #viewDiv {
    flex: 1;
    height: 300px;
  }
  margin-bottom: 20px;
}

.analysisBox {
  // border: 1px solid black;
  table {
    td,
    th {
      padding: 6px;
    }
  }
  margin: 15px 5px;
  border: 0.1rem solid #e9e9ea;
  padding: 5px 10px;
  .row {
    margin-left: 0;
  }
  .form-group {
    margin-bottom: 0.5rem;
  }
}
