.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.main #leftPanel {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 0.1rem solid #e9e9ea;
  padding: 5px 10px;
  margin-right: 10px;
}

.main #viewDiv {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 300px;
}

.analysisBox {
  margin: 15px 5px;
  border: 0.1rem solid #e9e9ea;
  padding: 5px 10px;
}

.analysisBox table td,
.analysisBox table th {
  padding: 6px;
}

.analysisBox .row {
  margin-left: 0;
}

.analysisBox .form-group {
  margin-bottom: 0.5rem;
}
