.custom-control {
  padding-bottom: 0.5rem;
}
.custom-control-label {
  font-size: 0.8em;
}
#leftPanel {
  padding-top: 0;
}

#det_num {
  visibility: hidden;
}

.k-combobox .k-dropdown-wrap .k-input {
  height: 30px;
}

.k-combobox .k-dropdown-wrap .k-clear-value {
  margin-top: -3px;
}

.detectorContainer,
.corridorContainer {
  margin-bottom: 10px;
  .col-sm-9 {
    max-width: 100%;
  }
}

.corridorContainer {
  display: none;
}

#qbForm {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 80vh;
}

.submitBtn {
  margin-top: 10px;
}

.borderArea {
  border: 0.1rem solid #e9e9ea;
  // margin: 5px;
  padding: 5px 10px;
  .timeGroup {
    margin: auto;
    label {
      font-size: 13px;
      margin: auto;
    }
  }
  .timeGroupOr {
    margin: auto;
    text-align: center;
  }
  .startDate {
    margin-bottom: 10px;
  }
}
.container {
  display: flex;
}

.form-row {
  margin-left: 0px;
  margin-right: 0px;
}

h6 {
  font-size: 13.5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.k-tooltip-validation {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
  font-size: 12px;
}

@media screen and (max-width: 992px) {
  #viewDiv {
    display: none;
  }
}

#leftPanel {
  flex: 1;
}

.btnTypeContainer {
  margin: auto;
}

.dropDownContainer {
  h6 {
    margin: auto;
    padding-left: 0 !important;
  }
}
