.custom-control {
  padding-bottom: 0.5rem;
}

.custom-control-label {
  font-size: 0.8em;
}

#leftPanel {
  padding-top: 0;
}

#det_num {
  visibility: hidden;
}

.k-combobox .k-dropdown-wrap .k-input {
  height: 30px;
}

.k-combobox .k-dropdown-wrap .k-clear-value {
  margin-top: -3px;
}

.detectorContainer,
.corridorContainer {
  margin-bottom: 10px;
}

.detectorContainer .col-sm-9,
.corridorContainer .col-sm-9 {
  max-width: 100%;
}

.corridorContainer {
  display: none;
}

#qbForm {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 80vh;
}

.submitBtn {
  margin-top: 10px;
}

.borderArea {
  border: 0.1rem solid #e9e9ea;
  padding: 5px 10px;
}

.borderArea .timeGroup {
  margin: auto;
}

.borderArea .timeGroup label {
  font-size: 13px;
  margin: auto;
}

.borderArea .timeGroupOr {
  margin: auto;
  text-align: center;
}

.borderArea .startDate {
  margin-bottom: 10px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-row {
  margin-left: 0px;
  margin-right: 0px;
}

h6 {
  font-size: 13.5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.k-tooltip-validation {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
  font-size: 12px;
}

@media screen and (max-width: 992px) {
  #viewDiv {
    display: none;
  }
}

#leftPanel {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.btnTypeContainer {
  margin: auto;
}

.dropDownContainer h6 {
  margin: auto;
  padding-left: 0 !important;
}
