@{
    ViewBag.Title = "Query Builder";
}
<script src="https://js.arcgis.com/4.15/"></script>
<script src="~/Scripts/map.js"></script>
<script src="~/Scripts/queryBuilder.js"></script>
<link href="~/Styles/QueryBuilder.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@("@")fortawesome/fontawesome-free@5.6.3/css/all.min.css" />

<div class="black-banner">
    @ViewBag.Title
    <div class="btnTypeContainer">
        <button data-val="detector" class="btn btn-md btn-primary btnType">Detectors</button>
        <button data-val="corridor" class="btn btn-md btn-secondary btnType">Corridors</button>
    </div>
</div>
<div class="container">
    <br />
    <div id="leftPanel">
        <form id="qbForm" action="/QueryBuilder/Result" novalidate method="get">
            <div class="form-row detectorContainer dropDownContainer">
                <h6 class="col-sm-3">Detector: </h6>
                <select value="0" class="col-sm-9" id="det_num" name="det_num" validationMessage="Please select a detector"></select>
                <span class="k-invalid-msg" data-for="det_num"></span>
            </div>
            <div class="form-row corridorContainer dropDownContainer">
                <h6 class="col-sm-3">Corridor: </h6>
                <select value="0" class="col-sm-9" id="corridor_id" name="corridor_id" validationMessage="Please select a corridor"></select>
                <span class="k-invalid-msg" data-for="corridor_id"></span>
            </div>
            <h6>Included Analysis:</h6>
            <div class="form-row analysisOptions borderArea k-form-field-wrap">
                <div class="col-sm-6">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="true" id="AHAS" name="AHAS">
                        <label class="custom-control-label" for="AHAS">Annual Hourly Average Speeds (Weekday)</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="true" id="AHATPL" name="AHATPL">
                        <label class="custom-control-label" for="AHATPL">Annual Hourly Average Throughput Per Lane (Weekday)</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="true" id="AHAOP" name="AHAOP">
                        <label class="custom-control-label" for="AHAOP">Annual Hourly Average Occupancy Percent (Weekday)</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="true" id="AAL" name="AAL">
                        <label class="custom-control-label" for="AAL">Annual Average by Lane</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="true" id="DDPQCCD" name="DDPQCCD">
                        <label class="custom-control-label" for="DDPQCCD">Distribution of Data Passing Quality Control Criteria by Date</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="true" id="DDPQCCW" name="DDPQCCW">
                        <label class="custom-control-label" for="DDPQCCW">Distribution of Data Passing Quality Control Criteria by Weekday</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="true" id="AQCFHD" name="AQCFHD">
                        <label class="custom-control-label" for="AQCFHD">Annual Quality Control Flags by Hour of Day (Weekday)</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="true" id="FVD" name="FVD">
                        <label class="custom-control-label" for="FVD">Flow vs. Density <i data-toggle="tooltip" title="All Data Rows & 5-min Weekday Average" class="fas fa-info-circle"></i></label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="true" id="SVD" name="SVD">
                        <label class="custom-control-label" for="SVD">Speed vs. Density <i data-toggle="tooltip" title="All Data Rows & 5-min Weekday Average" class="fas fa-info-circle"></i></label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="true" id="SVF" name="SVF">
                        <label class="custom-control-label" for="SVF">Speed vs. Flow <i data-toggle="tooltip" title="All Data Rows & 5-min Weekday Average" class="fas fa-info-circle"></i></label>
                    </div>
                </div>
                <span style="display:none;" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" id="atLeastOneAnalysis" role="alert"><span class="k-icon k-i-warning"></span> At least one analysis option must be chosen</span>
            </div>
            <h6>Time Period 1:</h6>
            <div class="borderArea">
                <div class="form-row">
                    <div class="timeGroup form-row col-md-4">
                        <label class="col-sm-4" for="name">Year:</label>
                        <input class="form-control form-control-sm col-sm-8" type="number" name="year1" value="" />
                    </div>
                    <div class="timeGroup timeGroupOr col-md-2">OR</div>
                    <div class="timeGroup col-md-6">
                        <div class="startDate form-row">
                            <label class="col-sm-4" for="start">Start Date:</label>
                            <input class="form-control form-control-sm col-sm-7" type="date" name="start1" value="">
                        </div>
                        <div class="form-row">
                            <label class="col-sm-4" for="name">End Date:</label>
                            <input class="form-control form-control-sm col-sm-7" type="date" name="end1" value="" />
                        </div>
                    </div>
                </div>
                <span style="display:none;" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" id="date1Error" role="alert"></span>
            </div>
            <h6>Time Period 2:</h6>
            <div class="borderArea">
                <div class="form-row">
                    <div class="timeGroup form-row col-md-4">
                        <label class="col-sm-4" for="name">Year:</label>
                        <input class="form-control form-control-sm col-sm-8" type="number" name="year2" value="" />
                    </div>
                    <div class="timeGroup timeGroupOr col-md-2">OR</div>
                    <div class="timeGroup col-md-6">
                        <div class="startDate form-row">
                            <label class="col-sm-4" for="start">Start Date:</label>
                            <input class="form-control form-control-sm col-sm-7" type="date" name="start2" value="">
                        </div>
                        <div class="form-row">
                            <label class="col-sm-4" for="name">End Date:</label>
                            <input class="form-control form-control-sm col-sm-7" type="date" name="end2" value="" />
                        </div>
                    </div>
                </div>
                <span style="display:none;" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" id="date2Error" role="alert"></span>
            </div>
            <button type="submit" class="submitBtn btn btn-primary btn-sm">Calculate</button>
        </form>
    </div>
    <div id="viewDiv" style="flex:1;"></div>
</div>