//Shared styles used in other sass files

:root {
    --mainColor: #081F21;
    --secondaryColor: #2BAAB1;
    --textColor: #FFFFFF;
    --hoverColor: #535353;
    --hoverText: #FFFFFF;
}

.flex-center {
    display: flex;
    align-items: center;
}

.redAsterisk {
    color: red;
    margin-left: 4px;
}

.successMessage {
    font-size: 20px;
    font-weight: bold;
    top: 0px;
    width: 100%;
    position: absolute;
    z-index: 1;
    text-align: center;
    display: none;
}