:root {
  --mainColor: #081F21;
  --secondaryColor: #2BAAB1;
  --textColor: #FFFFFF;
  --hoverColor: #535353;
  --hoverText: #FFFFFF;
}

* {
  font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.body-content {
  padding-left: 5%;
  padding-right: 5%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}

.nav-item {
  font-size: 17px;
}

.nav-link,
.navbar-text {
  color: var(--secondaryColor) !important;
  font-weight: 600;
}

.nav-link:hover {
  text-decoration: underline;
  background-color: rgba(128, 128, 128, 0.05);
}

.nav-item.active {
  background-color: rgba(128, 128, 128, 0.2);
}

.black-banner {
  background-color: black;
  height: 60px;
  color: white;
  font-size: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container {
  width: 80vw;
  margin: auto;
}

.container {
  margin-top: 10px;
  height: 60vh;
}

.placeholderBox {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightgray;
  font-size: 20px !important;
  margin-top: 2%;
}

.esri-legend {
  width: auto !important;
}

.link {
  color: var(--secondaryColor) !important;
}

.link:hover {
  text-decoration: underline;
}

.detectorDescription {
  margin-bottom: 5px;
}

.detectorNumber {
  margin-bottom: 0 !important;
}

.validityTable {
  font-size: 12px;
  margin-bottom: 0;
}

#detector-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#detector-container #leftPanel {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#detector-container #leftPanel #errorTable {
  font-size: small;
}

#detector-container #chartsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  border: 2px solid black;
}

#detector-container #chartsContainer div.chart-wrap {
  border: 1px solid black;
  border-radius: 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
  padding-left: 2px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-left: auto;
}

.k-loading-image {
  background-image: url(../Images/loading.gif) !important;
}
