/* css for home and zoom buttons8 */
.esri-widget--button {
    background-color: #2baab1;
    color: #ffffff;
    border: 1px solid #26999f;
}
.esri-widget--button:hover {
    background-color: #1c6f73;
    color: #ffffff;
    border: 1px solid #1e767b;
}
.esri-widget--button:focus {
    outline: 0.5px solid #2baab1;
}
.esri-widget.esri-disabled {
    background-color: #95d4d8;
    color: #ffffff;
}

/* css for Basemap Toggle Button */
.esri-basemap-toggle:focus {
    outline: 0.5px solid #2baab1;
}
.esri-basemap-toggle__title {
    background-color: rgba(43, 170, 177, 0.8);
    color: #ffffff;
    font-weight: 900;
}
.esri-basemap-toggle__title:hover {
    background-color: rgba(43, 170, 177, 0.5);
}

/* css for Popup styling */
.esri-popup__main-container,
.esri-feature-content,
.esri-popup__pointer,
.esri-popup__pointer-direction {
    background-color: #ffffff;
    color: #2baab1;
}

.esri-popup__header {
    background-color: #2baab1;
    color: #ffffff;
}
.esri-popup__header-title {
    color: #ffffff;
    font-weight: 700;
}

.esri-popup__button {
    background-color: #6ac3c8;
    color: #ffffff;
    outline: 1px solid #6ac3c8;
}

.esri-popup__button:hover {
    background-color: #2baab1;
}
