.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    background-color: #2baab1;
    color: white;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
    background-color: rgb(43, 170, 177, 0.6);
    color: white;
}
